<h1>Xur's Agent of the Nine Exotic Items Electronic Store</h1>

<h2>Home Page</h2>

<nav><%= link_to "Weapons", weapon_path %> | <%= link_to "Armour", armour_path %> | <%= link_to "Search", search_path %></nav>

<h6><%= link_to "Info", info_path %></h6>